<div class="main">
  <form action="login" method="post">
    <h1><span>Luxury Cars</span> <label> Register </label> </h1>
    <div class="inset">
      <p>
        <label for="user_name">USER NAME</label>
        <input type="text" placeholder="user name" required />
      </p>
      <p>
        <label for="email">EMAIL</label>
        <input type="email" placeholder="email" required />
      </p>
      <p>
        <label for="password">PASSWORD</label>
        <input type="password" placeholder="password" required />
      </p>
    </div>

    <p class="p-container">
      <input type="submit" value="Register">
    </p>
  </form>
</div> 
