<div class="main">
  <form action="login" method="post">
    <h1><span>Luxury Cars</span> <label> Login </label> </h1>
    <div class="inset">
      <p>
        <label for="email">EMAIL</label>
        <input type="email" placeholder="email" required />
      </p>
      <p>
        <label for="password">PASSWORD</label>
        <input type="password" placeholder="password" required />
      </p>
    </div>

    <p class="p-container">
      <span><a [routerLink]="['/register']">Register here</a></span>
      <input type="submit" value="Login">
    </p>
  </form>
</div> 
